html, body {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color: #282C34;
}

#images {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#images p {
    text-align: center;
    width: 100%;
}

img {
    max-height: 100%;
}